@font-face {
  font-family: "Circular Mono";
  src: url(../fonts/circular-mono/CircularMono-Regular.woff2) format(woff2),
    url(../fonts/circular-mono/CircularMono-Regular.woff) format(woff),
    url(../fonts/circular-mono/CircularMono-Regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
}
